// Override this file to add your own SCSS styling.

$text-primary-color: #b509ac;
$border-color1: rgba(0,0,0,0.1);


body, h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}

body {
  color: #000000;
  font-weight: 300;
}

.navbar {
  font-size: 1rem;
  box-shadow: unset;
  border-bottom: 1px solid $border-color1;


  .navbar-nav .nav-link.active {
     font-weight: 400 !important;
  }
}
.navbar-light {
  font-weight: 300;
}





.page-publication {

  .year-flag {
    border-top: 1px solid $border-color1;
    .year-text {
      font-weight: 300;
      font-size: 2rem;
      color: $border-color1;
      padding: 1rem 0 1.5rem 0;
      text-align: right;
    }
  }

  .pub-title {
    font-weight: bold;
  }
  .pub-icon {
   font-size: 1rem;
  }
  .title-link {
    color: #000000;
  }
  .stream-item:not(:last-child) {
    margin-bottom: 4rem;
  }

  .pub-authors {
    color: #666666;
   strong {
     font-weight: bold;
   }
  }
}


.home-section {
  padding: 1rem 0;
}
.home-section:nth-of-type(even) {
  background: #fff;
}



.wg-about{

  ul.ul-edu li .description p.institution {
    font-size: 0.75rem;
    //color: $text-primary-color;
    color: #000000;
  }
  .edu-details {
    font-size: 0.75rem;
    color: rgba(0, 0, 0, 0.6);
  }

  .about-name {
    font-size: 2.5rem;
    font-weight: 300;
    span {
      font-weight: 700;
    }
  }
}

#recent_news {
  .news-list {

  }
  .news-title {
    padding: 0 0 1.5rem 0;
  }
  .news-date {
    padding: 0 3rem 0 1rem;
  }
}




.wg-bottom {
  .social-links{
    text-align: center;
    font-size: 4rem;
    font-weight: 900;
    padding: 2rem 0 0 0;

    a   {
      color: #000000;
      transition-property: all .2s ease-in-out;
    }

    a:hover {
      color: $text-primary-color;
      text-decoration: unset;
    }

  }

  .home-bottom-email-text {
    text-align: center;
    font-size: 0.8rem;
  }
}


// 手机
@media (max-width: 780px) {

  .wg-about {
    // h1 {
    //  text-align: center;
    //}
  }
  .research-list-wrap {
    grid-template-columns: 1fr !important;
  }

}
