{{- define "main" -}}

{{ $st := . }}


{{- $publications := site.Data.publications.pubs -}}

{{- $publications :=  sort $publications "year" "desc" -}}





<div class="universal-wrapper page-publication container">

    <div class="pt-3 pb-3 pub-title">
        <h1>{{ .Title }}</h1>
    </div>


    <div class="pub-list-wrap pb-5">

        {{- $year_flag := "" -}}
      {{ range $publications }}


        {{if ne $year_flag .year }}
       <div class="year-flag">
         <div class="year-text">{{ .year }}</div>
       </div>
        {{- $year_flag = .year -}}
        {{ end }}

      <div class="media stream-item view-compact" style="align-items: stretch;">
        <div class="media-body">

          <div class=" pub-title mb-0 mt-0">
            <i class="far fa-file-alt pub-icon" ></i>
            {{with .title_link}}<a class="title-link" href="{{ . }}">{{end}}
              {{ .title }}
              {{with .journal}}<span class="journal"  >({{ . | markdownify}})</span>{{end}}
              {{with .title_extra_info}}<span class="title-extra-info"  >{{ . | markdownify}}</span>{{end}}
            {{with .title_link}}</a>{{end}}
          </div>

          <div class="  pub-authors">
            {{ .author_text | markdownify }}.
          </div>

            {{with .links}}
              <div class="btn-links">
                  {{ range $idx, $item := . }}
                    <a class="btn btn-outline-primary btn-page-header btn-sm"
                       href="{{ $item.url }}">
                        {{ $item.name  | markdownify | emojify }}
                    </a>
                  {{end}}
              </div>
            {{end}}

        </div>
        <div class="ml-3 home-prj-img-icon-wrap">
            {{ with .image }} <img src="{{ . | relURL }}" class="home-project-icon-image" loading="lazy" /> {{ end }}
        </div>
      </div>
      {{ end }}

    </div>

</div>


{{- end -}}
